src/jade/pages/authorization-login-invalid.jade
extends ../template/template
include ../_mixins


block vars
  - title = '';
  - pageClass = 'page-fullpage'
  - hideHeader = true;
  - hideFooter = true;

block content

  .authorization.fullpage
    .authorization-inner
      .authorization-logo
        img(src="../../images/icons/logo.png", alt="")
      .authorization-header.h2 Информационая система <br/> электоронных обращений
      
      .authorization-login
        .authorization-tabs
          a(href="#auth-login").authorization-tabs__link.link.active Логин
          a(href="#auth-ecp").authorization-tabs__link.link ЭЦП
        .invalid-message Неверный логин или пароль
        #auth-login.authorization-tabblock.active
          form(action="#!").authorization-login__form.invalid-form
            .input-wrap
              input(type="text" placeholder="Логин*").login
            .input-wrap
              input(type="password" placeholder="Пароль*").password

            .authorization-login__options
              label.checkbox
                input(type="checkbox" checked)
                small
                span Запомнить меня
              a(href="#!").link Забыли пароль?
            .txt-ac
              button.authorization-submit Далее
        #auth-ecp.authorization-tabblock
          form(action="#!").authorization-login__form
            .input-wrap
              input(type="text" placeholder="ИИН")
            .input-wrap
              input(type="text" placeholder="E-mail")
            .input-wrap
              input(type="password" placeholder="ФИО")
            .txt-ac
              button.authorization-submit Далее

      .authorization-lang
        span RU
        label.checkbox
          input(type="checkbox" checked)
          small
        span KZ

      

build/html/pages/authorization-login-invalid.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="format-detection" content="telephone=no"/><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,900&amp;amp;subset=cyrillic" rel="stylesheet"/><link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/vendor.min.css">
    <link rel="stylesheet" href="../../css/commin.min.css">
    <title></title>
  </head>
  <body>
    <div class="page page-fullpage">
      <!-- header-->
      <!-- end header-->
      
      <div id="main" class="main">
        <div class="authorization fullpage">
          <div class="authorization-inner">
            <div class="authorization-logo"><img src="../../images/icons/logo.png" alt=""/></div>
            <div class="authorization-header h2">Информационая система <br/> электоронных обращений</div>
            <div class="authorization-login">
              <div class="authorization-tabs"><a href="#auth-login" class="authorization-tabs__link link active">Логин</a><a href="#auth-ecp" class="authorization-tabs__link link">ЭЦП</a></div>
              <div class="invalid-message">Неверный логин или пароль</div>
              <div id="auth-login" class="authorization-tabblock active">
                <form action="#!" class="authorization-login__form invalid-form">
                  <div class="input-wrap">
                    <input type="text" placeholder="Логин*" class="login"/>
                  </div>
                  <div class="input-wrap">
                    <input type="password" placeholder="Пароль*" class="password"/>
                  </div>
                  <div class="authorization-login__options">
                    <label class="checkbox">
                      <input type="checkbox" checked="checked"/><small></small><span>Запомнить меня</span>
                    </label><a href="#!" class="link">Забыли пароль?</a>
                  </div>
                  <div class="txt-ac">
                    <button class="authorization-submit">Далее</button>
                  </div>
                </form>
              </div>
              <div id="auth-ecp" class="authorization-tabblock">
                <form action="#!" class="authorization-login__form">
                  <div class="input-wrap">
                    <input type="text" placeholder="ИИН"/>
                  </div>
                  <div class="input-wrap">
                    <input type="text" placeholder="E-mail"/>
                  </div>
                  <div class="input-wrap">
                    <input type="password" placeholder="ФИО"/>
                  </div>
                  <div class="txt-ac">
                    <button class="authorization-submit">Далее</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="authorization-lang"><span>RU</span>
              <label class="checkbox">
                <input type="checkbox" checked="checked"/><small></small>
              </label><span>KZ</span>
            </div>
          </div>
        </div>
      </div>
      <!-- footer -->
      <!-- end footer-->
      
    </div>
    <script src="../../scripts/vendor.min.js"></script>
    <script src="../../scripts/common.min.js"></script>
  </body>
</html>
