src/jade/pages/cabinet.jade
extends ../template/template
include ../_mixins

block vars
  - title = 'Кабинет';
  - hideHeader = true;
  - hideFooter = true;
  - pageClass = ''

block content

  .cabinet
    .cabinet-header
      .cabinet-toggle: <i class="fas fa-bars"></i>
      .cabinet-title Lorem ipsum
      .cabinet-actions
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/cabinet-icon-1.png", alt="")
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/cabinet-icon-2.png", alt="")
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/cabinet-icon-1.png", alt="")
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/avatar.png", alt="")

    .cabinet-body
      .cabinet-sidebar
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/cabinet-icon-1.png", alt="")
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/cabinet-icon-4.png", alt="")
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/cabinet-icon-5.png", alt="")
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/cabinet-icon-6.png", alt="")
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/cabinet-icon-7.png", alt="")
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/cabinet-icon-8.png", alt="")
        a(href="#!").cabinet-btn.link: img(src="../../images/icons/cabinet-icon-9.png", alt="")

      .cabinet-main
        .form-block
          .form-block__content
            .input-row
              .input-row__inner
                .input-row__title
                .input-row__input
                  .upload
                    .upload-preview
                      img(src="../../images/icons/upload-avatar.png", alt="")
                    .upload-btn
                      label
                        input(type="file" onchange="readURL(this)")
                        span.button Добавить
                      img(src="../../images/icons/ask.png", alt="")
            .input-row
              .input-row__inner
                .input-row__title Фамилия
                .input-row__input
                  input(type="text")
            .input-row
              .input-row__inner
                .input-row__title Имя
                .input-row__input
                  input(type="text")
            .input-row
              .input-row__inner
                .input-row__title Отчество
                .input-row__input
                  input(type="text")
            
            .input-row
              .input-row__inner
                .input-row__title
                .input-row__input
                  .form-block-hr
                    hr

        .form-block
          .form-block__content
            .input-row
              .input-row__inner
                .input-row__title E-mail
                .input-row__input
                  input(type="text")
            .input-row
              .input-row__inner
                .input-row__title Служебный телефон
                .input-row__input
                  input(type="text")
            .input-row
              .input-row__inner
                .input-row__title Мобильный телефон
                .input-row__input
                  input(type="text")

            .input-row
              .input-row__inner
                .input-row__title
                .input-row__input
                  .form-block-hr
                    hr

        .form-block
          .form-block__content
            .input-row
              .input-row__inner
                .input-row__title ИИН
                .input-row__input
                  input(type="text")
            .input-row
              .input-row__inner
                .input-row__title Пользовательская роль
                .input-row__input
                  input(type="text")

            .input-row
              .input-row__inner
                .input-row__title
                .input-row__input
                  .form-block-hr
                    a(href="#!").button.button-green Добавить

        

src/html/pages/cabinet.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="format-detection" content="telephone=no"/><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,900&amp;amp;subset=cyrillic" rel="stylesheet"/><link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!-- build:css css/vendor.min.css-->
    <!-- bower:css-->
    <link rel="stylesheet" href="../../../vendor/reset-css/reset.css"/>
    <!-- endbower    -->
    <!-- endbuild-->
    <!-- build:css css/commin.min.css-->
    <link href="../../css/common.css" rel="stylesheet"/>
    <!-- endbuild-->
    <title>Кабинет</title>
  </head>
  <body>
    <div class="page">
      <!-- header-->
      <!-- end header-->
      
      <div id="main" class="main">
        <div class="cabinet">
          <div class="cabinet-header">
            <div class="cabinet-toggle"><i class="fas fa-bars"></i></div>
            <div class="cabinet-title">Lorem ipsum</div>
            <div class="cabinet-actions"><a href="#!" class="cabinet-btn link"><img src="../../images/icons/cabinet-icon-1.png" alt=""/></a><a href="#!" class="cabinet-btn link"><img src="../../images/icons/cabinet-icon-2.png" alt=""/></a><a href="#!" class="cabinet-btn link"><img src="../../images/icons/cabinet-icon-1.png" alt=""/></a><a href="#!" class="cabinet-btn link"><img src="../../images/icons/avatar.png" alt=""/></a></div>
          </div>
          <div class="cabinet-body">
            <div class="cabinet-sidebar"><a href="#!" class="cabinet-btn link"><img src="../../images/icons/cabinet-icon-1.png" alt=""/></a><a href="#!" class="cabinet-btn link"><img src="../../images/icons/cabinet-icon-4.png" alt=""/></a><a href="#!" class="cabinet-btn link"><img src="../../images/icons/cabinet-icon-5.png" alt=""/></a><a href="#!" class="cabinet-btn link"><img src="../../images/icons/cabinet-icon-6.png" alt=""/></a><a href="#!" class="cabinet-btn link"><img src="../../images/icons/cabinet-icon-7.png" alt=""/></a><a href="#!" class="cabinet-btn link"><img src="../../images/icons/cabinet-icon-8.png" alt=""/></a><a href="#!" class="cabinet-btn link"><img src="../../images/icons/cabinet-icon-9.png" alt=""/></a></div>
            <div class="cabinet-main">
              <div class="form-block">
                <div class="form-block__content">
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title"></div>
                      <div class="input-row__input">
                        <div class="upload">
                          <div class="upload-preview"><img src="../../images/icons/upload-avatar.png" alt=""/></div>
                          <div class="upload-btn">
                            <label>
                              <input type="file" onchange="readURL(this)"/><span class="button">Добавить</span>
                            </label><img src="../../images/icons/ask.png" alt=""/>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title">Фамилия</div>
                      <div class="input-row__input">
                        <input type="text"/>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title">Имя</div>
                      <div class="input-row__input">
                        <input type="text"/>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title">Отчество</div>
                      <div class="input-row__input">
                        <input type="text"/>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title"></div>
                      <div class="input-row__input">
                        <div class="form-block-hr">
                          <hr/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-block">
                <div class="form-block__content">
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title">E-mail</div>
                      <div class="input-row__input">
                        <input type="text"/>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title">Служебный телефон</div>
                      <div class="input-row__input">
                        <input type="text"/>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title">Мобильный телефон</div>
                      <div class="input-row__input">
                        <input type="text"/>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title"></div>
                      <div class="input-row__input">
                        <div class="form-block-hr">
                          <hr/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-block">
                <div class="form-block__content">
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title">ИИН</div>
                      <div class="input-row__input">
                        <input type="text"/>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title">Пользовательская роль</div>
                      <div class="input-row__input">
                        <input type="text"/>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title"></div>
                      <div class="input-row__input">
                        <div class="form-block-hr"><a href="#!" class="button button-green">Добавить</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer -->
      <!-- end footer-->
      
    </div>
    <!-- build:js scripts/vendor.min.js-->
    <!-- bower:js-->
    <script src="../../../vendor/jquery/dist/jquery.js"></script>
    <!-- endbower-->
    <!-- endbuild        -->
    <!-- build:js scripts/common.min.js-->
    <script src="../../globConfigJs/config.js"></script>
    <script src="../../scripts/common.js">   </script>
    <!-- endbuild-->
  </body>
</html>
