src/jade/pages/consideration.jade
extends ../template/template
include ../_mixins

block vars
  - title = 'Обращения поступившие на рассмотрение';
  //- - hideHeader = true;
  - pageClass = ''

block content

  .main-container
    .main-sidebar
      ul
        li: a.link(href="#!").main-sidebar__link.default-link
          .main-sidebar__icon
            <i class="fas fa-user-circle"></i>
          | Lorem ipsum
        li: a.link(href="#!").main-sidebar__link.default-link
          .main-sidebar__icon
            <i class="far fa-id-card"></i>
          | Lorem ipsum
        li: a.link(href="#!").main-sidebar__link.default-link
          .main-sidebar__icon
            <i class="far fa-file-alt"></i>
          | Lorem ipsum
        li: a.link(href="#!").main-sidebar__link.default-link
          .main-sidebar__icon
            <i class="fas fa-user-circle"></i>
          | Lorem ipsum
        
    .main-content
      .main-content__top
        label.checkbox
          input(type="checkbox")
          small
        a(href="#!").link.action-btn: <i class="far fa-edit"></i>
        a(href="#!").link.action-btn: <i class="fas fa-download"></i>
        a(href="#!").link.action-btn: <i class="fas fa-signal"></i>
        a(href="#!").link.action-btn: <i class="fas fa-search"></i>
        input(type="text" placeholder="Поиск")
      .main-content__inner
        .main-items
          .item
            label.checkbox
              input(type="checkbox")
              small
            .item-block
              a(href="#!").link.item-title Lorem Ipsum
              .item-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              .item-btn
                <i class="fas fa-ellipsis-v"></i>
              .item-block__dropdown
                ul
                  li: a.link(href="#!") Пункт 1
                  li: a.link(href="#!") Пункт 2
                  li: a.link(href="#!") Пункт 3
                    
          .item
            label.checkbox
              input(type="checkbox")
              small
            .item-block(style="border-color: #5FE800")
              a(href="#!").link.item-title Lorem Ipsum
              .item-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              .item-btn: <i class="fas fa-ellipsis-v"></i>
              .item-block__dropdown
                ul
                  li: a.link(href="#!") Пункт 1
                  li: a.link(href="#!") Пункт 2
                  li: a.link(href="#!") Пункт 3
          .item
            label.checkbox
              input(type="checkbox")
              small
            .item-block(style="border-color: #FF685B")
              a(href="#!").link.item-title Lorem Ipsum
              .item-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              .item-btn: <i class="fas fa-ellipsis-v"></i>
              .item-block__dropdown
                ul
                  li: a.link(href="#!") Пункт 1
                  li: a.link(href="#!") Пункт 2
                  li: a.link(href="#!") Пункт 3
          .item
            label.checkbox
              input(type="checkbox")
              small
            .item-block
              a(href="#!").link.item-title Lorem Ipsum
              .item-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              .item-btn: <i class="fas fa-ellipsis-v"></i>
              .item-block__dropdown
                ul
                  li: a.link(href="#!") Пункт 1
                  li: a.link(href="#!") Пункт 2
                  li: a.link(href="#!") Пункт 3
          .item
            label.checkbox
              input(type="checkbox")
              small
            .item-block(style="border-color: #5FE800")
              a(href="#!").link.item-title Lorem Ipsum
              .item-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
              .item-btn: <i class="fas fa-ellipsis-v"></i>
              .item-block__dropdown
                ul
                  li: a.link(href="#!") Пункт 1
                  li: a.link(href="#!") Пункт 2
                  li: a.link(href="#!") Пункт 3

build/html/pages/consideration.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="format-detection" content="telephone=no"/><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,900&amp;amp;subset=cyrillic" rel="stylesheet"/><link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/vendor.min.css">
    <link rel="stylesheet" href="../../css/commin.min.css">
    <title>Обращения поступившие на рассмотрение</title>
  </head>
  <body>
    <div class="page">
      <!-- header-->
      <header class="header">
        <div class="header-inner">
          <div class="header-name"><a href="#!" class="link header-logo"><img src="../../images/icons/logo-2.png" alt=""/></a>
            <div class="header-name__subject">Иванов <br/> Иван</div>
          </div>
          <div class="header-title h2">Обращения поступившие на рассмотрение</div>
          <div class="header-buttons">
            <div class="header-buttons__inner"><a href="#!" class="link"><i class="fas fa-user-circle"></i></a><a href="#!" class="link js-header-dropdown"><img src="../../images/icons/head-dropdown.png" alt=""/></a><a href="#!" class="link"><img src="../../images/icons/exit.png" alt=""/></a>
              <div class="header-dropdown"><a href="#!" class="link header-dropdown__link active">Регистрация обращения</a><a href="#!" class="link header-dropdown__link">Выдача ответа</a></div>
            </div>
          </div>
        </div>
      </header>
      <!-- end header-->
      
      <div id="main" class="main">
        <div class="main-container">
          <div class="main-sidebar">
            <ul>
              <li><a href="#!" class="link main-sidebar__link default-link">
                  <div class="main-sidebar__icon"><i class="fas fa-user-circle"></i></div>Lorem ipsum</a></li>
              <li><a href="#!" class="link main-sidebar__link default-link">
                  <div class="main-sidebar__icon"><i class="far fa-id-card"></i></div>Lorem ipsum</a></li>
              <li><a href="#!" class="link main-sidebar__link default-link">
                  <div class="main-sidebar__icon"><i class="far fa-file-alt"></i></div>Lorem ipsum</a></li>
              <li><a href="#!" class="link main-sidebar__link default-link">
                  <div class="main-sidebar__icon"><i class="fas fa-user-circle"></i></div>Lorem ipsum</a></li>
            </ul>
          </div>
          <div class="main-content">
            <div class="main-content__top">
              <label class="checkbox">
                <input type="checkbox"/><small></small>
              </label><a href="#!" class="link action-btn"><i class="far fa-edit"></i></a><a href="#!" class="link action-btn"><i class="fas fa-download"></i></a><a href="#!" class="link action-btn"><i class="fas fa-signal"></i></a><a href="#!" class="link action-btn"><i class="fas fa-search"></i></a>
              <input type="text" placeholder="Поиск"/>
            </div>
            <div class="main-content__inner">
              <div class="main-items">
                <div class="item">
                  <label class="checkbox">
                    <input type="checkbox"/><small></small>
                  </label>
                  <div class="item-block"><a href="#!" class="link item-title">Lorem Ipsum</a>
                    <div class="item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</div>
                    <div class="item-btn"><i class="fas fa-ellipsis-v"></i></div>
                    <div class="item-block__dropdown">
                      <ul>
                        <li><a href="#!" class="link">Пункт 1</a></li>
                        <li><a href="#!" class="link">Пункт 2</a></li>
                        <li><a href="#!" class="link">Пункт 3</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <label class="checkbox">
                    <input type="checkbox"/><small></small>
                  </label>
                  <div style="border-color: #5FE800" class="item-block"><a href="#!" class="link item-title">Lorem Ipsum</a>
                    <div class="item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</div>
                    <div class="item-btn"><i class="fas fa-ellipsis-v"></i></div>
                    <div class="item-block__dropdown">
                      <ul>
                        <li><a href="#!" class="link">Пункт 1</a></li>
                        <li><a href="#!" class="link">Пункт 2</a></li>
                        <li><a href="#!" class="link">Пункт 3</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <label class="checkbox">
                    <input type="checkbox"/><small></small>
                  </label>
                  <div style="border-color: #FF685B" class="item-block"><a href="#!" class="link item-title">Lorem Ipsum</a>
                    <div class="item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</div>
                    <div class="item-btn"><i class="fas fa-ellipsis-v"></i></div>
                    <div class="item-block__dropdown">
                      <ul>
                        <li><a href="#!" class="link">Пункт 1</a></li>
                        <li><a href="#!" class="link">Пункт 2</a></li>
                        <li><a href="#!" class="link">Пункт 3</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <label class="checkbox">
                    <input type="checkbox"/><small></small>
                  </label>
                  <div class="item-block"><a href="#!" class="link item-title">Lorem Ipsum</a>
                    <div class="item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</div>
                    <div class="item-btn"><i class="fas fa-ellipsis-v"></i></div>
                    <div class="item-block__dropdown">
                      <ul>
                        <li><a href="#!" class="link">Пункт 1</a></li>
                        <li><a href="#!" class="link">Пункт 2</a></li>
                        <li><a href="#!" class="link">Пункт 3</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <label class="checkbox">
                    <input type="checkbox"/><small></small>
                  </label>
                  <div style="border-color: #5FE800" class="item-block"><a href="#!" class="link item-title">Lorem Ipsum</a>
                    <div class="item-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</div>
                    <div class="item-btn"><i class="fas fa-ellipsis-v"></i></div>
                    <div class="item-block__dropdown">
                      <ul>
                        <li><a href="#!" class="link">Пункт 1</a></li>
                        <li><a href="#!" class="link">Пункт 2</a></li>
                        <li><a href="#!" class="link">Пункт 3</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer -->
      <footer class="footer">
        <div class="wrapper">
          <div class="footer-inner">
            <div class="row">
              <div class="col-sm-4">
                <div class="footer-content"><img src="../../images/icons/footer-logo.png" alt=""/>
                  <div>
                    <div class="h3">Информационный сервис</div>
                    <p>Комитет по правовой статистике и специальным учетам  Генеральной прокуратуры Республики Казахстан</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="footer-content upcs"><img src="../../images/icons/komitet.png" alt=""/>
                  <div>
                    <p>Комитет по правовой статистике и специальным учетам Генеральной прокуратуры Республики Казахстан</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <form>
                  <input type="text" placeholder="Электронная почта"/>
                  <button><i class="fas fa-check"></i> Подписаться</button>
                </form>
                <div class="footer-social"><a href="#!" class="link"><i class="fab fa-facebook"></i></a><a href="#!" class="link"><i class="fab fa-instagram"></i></a><a href="#!" class="link"><i class="fab fa-google-plus-square"></i></a><a href="#!" class="link"><i class="fab fa-twitter"></i></a><a href="#!" class="link"><i class="fab fa-vk"></i></a></div>
                <div class="footer-copyright">@ 2018. Все права защищены. “EGOV”</div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- end footer-->
      
    </div>
    <script src="../../scripts/vendor.min.js"></script>
    <script src="../../scripts/common.min.js"></script>
  </body>
</html>
