src/jade/pages/index.jade
extends ../template/template
include ../_mixins


block vars
  - title = 'Регистрация обращения';
  - pageClass = ''

block content

  .main-container
    .main-sidebar
      ul
        li: a.link(href="#!").main-sidebar__link(style="background: #5F8C3A")
          .main-sidebar__icon
            <i class="fas fa-user-circle"></i>
          | Lorem ipsum
        li: a.link(href="#!").main-sidebar__link(style="background: #47545F")
          .main-sidebar__icon
            <i class="far fa-id-card"></i>
          | Lorem ipsum
        li: a.link(href="#!").main-sidebar__link(style="background: #3E4750")
          .main-sidebar__icon
            <i class="far fa-file-alt"></i>
          | Lorem ipsum
        li: a.link(href="#!").main-sidebar__link(style="background: #69493E")
          .main-sidebar__icon
            <i class="fas fa-user-circle"></i>
          | Lorem ipsum
        li: a.link(href="#!").main-sidebar__link(style="background: #47545F")
          .main-sidebar__icon
            <i class="fas fa-file"></i>
          | Lorem ipsum
        li: a.link(href="#!").main-sidebar__link(style="background: #D7E756")
          .main-sidebar__icon
            <i class="fas fa-user-circle"></i>
          | Lorem ipsum

      .main-sidebar__status
        img(src="../../images/icons/status-icon.png", alt="")
        
    .main-content
      .main-content__title.h2: <i class="fas fa-user-circle"></i>
        span Идентификационные данные заявителя

      .main-content__inner
        .form-block
          .form-block__content
            .form-block__subtitle
              .h2 Реквизиты доверенного лица
            .input-row
              .input-row__inner
                .input-row__title ИИН
                .input-row__input
                  input(type="text")
            .input-row
              .form-block__btn
                button.button Найти данные по <br/> ИИН
            .input-row
              .input-row__inner
                .input-row__title Фамилия
                .input-row__input
                  input(type="text")
            .input-row
              .input-row__inner
                .input-row__title Имя
                .input-row__input
                  input(type="text")
            .input-row
              .input-row__inner
                .input-row__title Отчество
                .input-row__input
                  input(type="text")           
            .input-row
              .input-row__inner
                .input-row__title Дата рождения:
                .input-row__input
                  input(type="text").datepicker-here
            .input-row
              .input-row__inner
                .input-row__title Регион
                .input-row__input
                  input(list="datalist-6").datalist
                  datalist#datalist-6
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")

            .input-row
              .input-row__inner
                .input-row__title Город / Район
                .input-row__input
                  input(list="datalist-8").datalist
                  datalist#datalist-8
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")

            .input-row
              .input-row__inner
                .input-row__title Населенный пунк
                .input-row__input
                  input(list="datalist-20").datalist
                  datalist#datalist-20
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")
            .input-row
              .input-row__inner
                .input-row__title Улица
                .input-row__input
                  input(list="datalist-9").datalist
                  datalist#datalist-9
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")
            .input-row
              .input-row__inner
                .input-row__title Дом
                .input-row__input
                  .row
                    .col-6
                      .input-row.input-row--small
                        .input-row__inner
                          .input-row__input
                            input(type="text").input-small

                    .col-6                      
                      .input-row.input-row--small
                        .input-row__inner
                          .input-row__title Блок
                          .input-row__input
                            input(type="text").input-small
            .input-row
              .input-row--small
                .input-row__inner
                  .input-row__title Квартира/офис
                  .input-row__input
                    input(type="text").input-small

            .input-row
              .input-row__inner
                .input-row__title Телефон
                .input-row__input
                  input(type="text")

            .input-row
              .input-row__inner
                .input-row__title E-mail
                .input-row__input
                  input(type="text")

            .input-row
              .input-row__inner
                .input-row__title Статус заявителя
                .input-row__input
                  input(list="datalist-19").datalist
                  datalist#datalist-19
                    option(value="value1")
                    option(value="value2")
                    option(value="value3")

            .input-row
              .input-row__inner
                .input-row__title
                .input-row__input
                  label.checkbox
                    input(type="checkbox")
                    small
                    span Личный прием

build/html/pages/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="format-detection" content="telephone=no"/><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,900&amp;amp;subset=cyrillic" rel="stylesheet"/><link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/vendor.min.css">
    <link rel="stylesheet" href="../../css/commin.min.css">
    <title>Регистрация обращения</title>
  </head>
  <body>
    <div class="page">
      <!-- header-->
      <header class="header">
        <div class="header-inner">
          <div class="header-name"><a href="#!" class="link header-logo"><img src="../../images/icons/logo-2.png" alt=""/></a>
            <div class="header-name__subject">Иванов <br/> Иван</div>
          </div>
          <div class="header-title h2">Регистрация обращения</div>
          <div class="header-buttons">
            <div class="header-buttons__inner"><a href="#!" class="link"><i class="fas fa-user-circle"></i></a><a href="#!" class="link js-header-dropdown"><img src="../../images/icons/head-dropdown.png" alt=""/></a><a href="#!" class="link"><img src="../../images/icons/exit.png" alt=""/></a>
              <div class="header-dropdown"><a href="#!" class="link header-dropdown__link active">Регистрация обращения</a><a href="#!" class="link header-dropdown__link">Выдача ответа</a></div>
            </div>
          </div>
        </div>
      </header>
      <!-- end header-->
      
      <div id="main" class="main">
        <div class="main-container">
          <div class="main-sidebar">
            <ul>
              <li><a href="#!" style="background: #5F8C3A" class="link main-sidebar__link">
                  <div class="main-sidebar__icon"><i class="fas fa-user-circle"></i></div>Lorem ipsum</a></li>
              <li><a href="#!" style="background: #47545F" class="link main-sidebar__link">
                  <div class="main-sidebar__icon"><i class="far fa-id-card"></i></div>Lorem ipsum</a></li>
              <li><a href="#!" style="background: #3E4750" class="link main-sidebar__link">
                  <div class="main-sidebar__icon"><i class="far fa-file-alt"></i></div>Lorem ipsum</a></li>
              <li><a href="#!" style="background: #69493E" class="link main-sidebar__link">
                  <div class="main-sidebar__icon"><i class="fas fa-user-circle"></i></div>Lorem ipsum</a></li>
              <li><a href="#!" style="background: #47545F" class="link main-sidebar__link">
                  <div class="main-sidebar__icon"><i class="fas fa-file"></i></div>Lorem ipsum</a></li>
              <li><a href="#!" style="background: #D7E756" class="link main-sidebar__link">
                  <div class="main-sidebar__icon"><i class="fas fa-user-circle"></i></div>Lorem ipsum</a></li>
            </ul>
            <div class="main-sidebar__status"><img src="../../images/icons/status-icon.png" alt=""/></div>
          </div>
          <div class="main-content">
            <div class="main-content__title h2"><i class="fas fa-user-circle"></i><span>Идентификационные данные заявителя</span></div>
            <div class="main-content__inner">
              <div class="form-block">
                <div class="form-block__content">
                  <div class="form-block__subtitle">
                    <div class="h2">Реквизиты доверенного лица</div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title">ИИН</div>
                      <div class="input-row__input">
                        <input type="text"/>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="form-block__btn">
                      <button class="button">Найти данные по <br/> ИИН</button>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title">Фамилия</div>
                      <div class="input-row__input">
                        <input type="text"/>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title">Имя</div>
                      <div class="input-row__input">
                        <input type="text"/>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title">Отчество</div>
                      <div class="input-row__input">
                        <input type="text"/>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title">Дата рождения:</div>
                      <div class="input-row__input">
                        <input type="text" class="datepicker-here"/>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title">Регион</div>
                      <div class="input-row__input">
                        <input list="datalist-6" class="datalist"/>
                        <datalist id="datalist-6">
                          <option value="value1"></option>
                          <option value="value2"></option>
                          <option value="value3"></option>
                        </datalist>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title">Город / Район</div>
                      <div class="input-row__input">
                        <input list="datalist-8" class="datalist"/>
                        <datalist id="datalist-8">
                          <option value="value1"></option>
                          <option value="value2"></option>
                          <option value="value3"></option>
                        </datalist>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title">Населенный пунк</div>
                      <div class="input-row__input">
                        <input list="datalist-20" class="datalist"/>
                        <datalist id="datalist-20">
                          <option value="value1"></option>
                          <option value="value2"></option>
                          <option value="value3"></option>
                        </datalist>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title">Улица</div>
                      <div class="input-row__input">
                        <input list="datalist-9" class="datalist"/>
                        <datalist id="datalist-9">
                          <option value="value1"></option>
                          <option value="value2"></option>
                          <option value="value3"></option>
                        </datalist>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title">Дом</div>
                      <div class="input-row__input">
                        <div class="row">
                          <div class="col-6">
                            <div class="input-row input-row--small">
                              <div class="input-row__inner">
                                <div class="input-row__input">
                                  <input type="text" class="input-small"/>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-6">                     
                            <div class="input-row input-row--small">
                              <div class="input-row__inner">
                                <div class="input-row__title">Блок</div>
                                <div class="input-row__input">
                                  <input type="text" class="input-small"/>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row--small">
                      <div class="input-row__inner">
                        <div class="input-row__title">Квартира/офис</div>
                        <div class="input-row__input">
                          <input type="text" class="input-small"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title">Телефон</div>
                      <div class="input-row__input">
                        <input type="text"/>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title">E-mail</div>
                      <div class="input-row__input">
                        <input type="text"/>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title">Статус заявителя</div>
                      <div class="input-row__input">
                        <input list="datalist-19" class="datalist"/>
                        <datalist id="datalist-19">
                          <option value="value1"></option>
                          <option value="value2"></option>
                          <option value="value3"></option>
                        </datalist>
                      </div>
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-row__inner">
                      <div class="input-row__title"></div>
                      <div class="input-row__input">
                        <label class="checkbox">
                          <input type="checkbox"/><small></small><span>Личный прием</span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer -->
      <footer class="footer">
        <div class="wrapper">
          <div class="footer-inner">
            <div class="row">
              <div class="col-sm-4">
                <div class="footer-content"><img src="../../images/icons/footer-logo.png" alt=""/>
                  <div>
                    <div class="h3">Информационный сервис</div>
                    <p>Комитет по правовой статистике и специальным учетам  Генеральной прокуратуры Республики Казахстан</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="footer-content upcs"><img src="../../images/icons/komitet.png" alt=""/>
                  <div>
                    <p>Комитет по правовой статистике и специальным учетам Генеральной прокуратуры Республики Казахстан</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <form>
                  <input type="text" placeholder="Электронная почта"/>
                  <button><i class="fas fa-check"></i> Подписаться</button>
                </form>
                <div class="footer-social"><a href="#!" class="link"><i class="fab fa-facebook"></i></a><a href="#!" class="link"><i class="fab fa-instagram"></i></a><a href="#!" class="link"><i class="fab fa-google-plus-square"></i></a><a href="#!" class="link"><i class="fab fa-twitter"></i></a><a href="#!" class="link"><i class="fab fa-vk"></i></a></div>
                <div class="footer-copyright">@ 2018. Все права защищены. “EGOV”</div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- end footer-->
      
    </div>
    <script src="../../scripts/vendor.min.js"></script>
    <script src="../../scripts/common.min.js"></script>
  </body>
</html>
